$primary-color: #c8eafa;
$header-footer-color: #002570;
$secondary-color: #a7def7;
$font-family: sans-serif;
$font-weight-bold: 700;

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: $primary-color;
  font-family: $font-family;
  line-height: 1rem;
  position: relative;
}

.main {
  display: grid;
  grid-template-columns: 21fr 61fr 18fr;
  gap: 1rem;
  margin: 0 auto;
  padding: 0 2.4rem;
  max-width: 100rem;
  align-self: flex-start;
}

@mixin displayFlex($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin transitionEaseInOut {
  transition: all 0.3s ease-in-out;
}

@mixin displayUserImage($radius: 2.4rem) {
  height: $radius;
  width: $radius;
  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

@mixin displayUserName($isunderline: true) {
  @if $isunderline==true {
    text-decoration: underline;
  } @else {
    text-decoration: none;
  }
  font-weight: $font-weight-bold;
  font-size: 0.8rem;
}

@mixin displayLightenText() {
  font-weight: 400;
  font-size: 0.8rem;
  color: #999;
  text-transform: lowercase;
}

/*---- Media Section ----*/
@mixin mediaLargeScreen {
  @media (max-width: 84em) {
    @content;
  }
}

@mixin mediaMediumScreen {
  @media (max-width: 75em) {
    @content;
  }
}

@mixin mediaSmallScreen {
  @media (max-width: 59em) {
    @content;
  }
}

//Below 704px
@mixin mediaExtraSmallScreen {
  @media (max-width: 44em) {
    @content;
  }
}
