.footer {
  @include displayFlex(row);
  background-color: $header-footer-color;
  justify-content: space-evenly;
  color: $secondary-color;
  padding: 0.4rem;
  gap: 1rem;
  position: sticky;
  bottom: 0;
  font-size: 0.8rem;

  .logo-col {
    display: grid;
    grid-template-columns: 1fr 1fr;

    justify-items: center;

    .footer-logo {
      justify-self: end;
      padding-right: 1rem;

      img {
        height: 2.4rem;
        display: inline-block;
      }
    }
  }

  .social-links {
    list-style: none;
    @include displayFlex(row);
    gap: 0.4rem;
    .social-icon {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .social-icon,
  .contact-link {
    color: $secondary-color;
  }

  .contact-col {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.8rem;

    .contacts {
      @include displayFlex(column);
      gap: 0.4rem;
    }
  }

  .copyright {
    font-size: 0.6rem;
  }
}
