@import "./config";
@import "./header";
@import "./section";
@import "./aside";
@import "./article";
@import "./footer";
@import "./responsive";

.container {
  @include displayFlex(column);
  justify-content: space-between;
  gap: 1rem;
  min-height: 100vh;
}
